<template>
    <div>
        <ElRadioGroup
            v-model:value="radioStore.activeValue"
        >
            <ElRadioButton
                :value="Object.keys(pages)[0]"
                @click="$router.push({name: 'Home',params:route.params})"
                >{{ $t('message.allTasks') }}</ElRadioButton
            >
            <ElRadioButton
                :value="Object.keys(pages)[1]"
                @click="$router.push({name: 'Finished Tasks',params:route.params})"
                >{{ $t('message.FinishedTasks') }}</ElRadioButton
            >
            <ElRadioButton
                :value="Object.keys(pages)[2]"
                @click="$router.push({name: 'Unfinished Tasks',params:route.params})"
                >{{ $t('message.UnfinishedTasks') }}</ElRadioButton
            >
        </ElRadioGroup>
    </div>
</template>
<script setup lang="ts">
import { useRoute } from "vue-router";
import { useRadio } from "../model";
import { onMounted, reactive, watch } from "vue";
import { Pages } from "../../../api";

const radioStore = useRadio();
const route = useRoute();
const pages = reactive<Pages>({
    1: "da",
    2: "/asd",
    3: "/asd",
});
onMounted(() => {
    if (route.path === "/") {
        radioStore.setActive(Object.keys(pages)[0]);
    }
});
watch(
    () => route.path,
    (newPath) => {
        if (newPath === "/") {
            radioStore.setActive(Object.keys(pages)[0]);
        } else if (newPath === "/finished") {
            radioStore.setActive(Object.keys(pages)[1]);
        } else if (newPath === "/unfinished") {
            radioStore.setActive(Object.keys(pages)[2]);
        }
    }
);
</script>
