<template>
  <Radio></Radio>
  <div class="task-list-page">
    <TaskList :task-list="taskStore.listItems"></TaskList>
  </div>
</template>
<script setup lang="ts">
import { onMounted } from "vue";
import { taskModel } from "../../entities/tasks/model";
import TaskList from "../../widgets/task-list/ui/TaskList.vue";
import Radio from "../../shared/ui/radio-group/ui/VRadioGroup.vue";

const taskStore = taskModel();

onMounted(() => {
  taskStore.getFinishedTaskList();
});
</script>
<style>
.task-list-page {
  display: flex;
  flex-direction: column;
}
</style>
