<template>
  <ElCard @click="$router.push(`/task/${task.id}`)">
    <template #header>
      <div class="card-header">
        <div style="display: flex; justify-content: space-between">
        <span>{{ task.title }}</span>
        <slot name="action"></slot>
        </div>
      </div>
    </template>
    <template #default>
      {{task.description}}
    </template>
  </ElCard>
</template>

<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
  name: "TaskCard",
  props: {
    task:{
      type:Object,
      default:()=>{
        return {}
      }
    }
  },
});
</script>

<style lang="scss">

</style>
