<template>
  <ElCard>
    <template #header>
      <div class="card-header">
        <div>
          <span>{{ task.title }}</span>
        </div>
      </div>
    </template>
    <template #default>
      {{task.description}}
    </template>
    <template #footer>
      <slot name="actions"></slot>
    </template>
  </ElCard>
</template>

<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
  name: "TaskCardDetails",
  props: {
    task:{
      type:Object,
      default:()=>{
        return {}
      }
    }
  },
  setup() {

    return {};
  },
});
</script>

<style lang="scss">

</style>
