<template>
  <ElButton v-bind="$attrs">
    <slot />
  </ElButton>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import { ElButton } from 'element-plus'

export default defineComponent({
  name: "VButton",
  inheritAttrs:false,
});
</script>

<style lang="scss">

</style>
