<template>
  <div class="app">
    <div style="margin: 20px 0 ">
      <v-button :disabled="isEn" @click="changeLocale('en')">EN</v-button>
      <v-button :disabled="!isEn" @click="changeLocale('ru')">RU</v-button>
    </div>
    <RouterView>
    </RouterView>
  </div>
</template>

<script setup lang="ts">
import {useRoute, useRouter} from "vue-router";
import {i18n} from './providers';
import VButton from "../shared/ui/buttons/VButton.vue";
import {watch, computed} from "vue";

const route = useRoute()
const router = useRouter()

const isEn=computed(()=>{
  return route.params.locale === 'en'
})

watch(() => route.params.locale, (val) => {
  i18n.global.locale = val || 'ru';
}, {immediate: true})

function changeLocale(newLocale) {
  router.push({name: route.name, params: {locale: newLocale}})
}
</script>

<style>
@import "./style.scss";
</style>
