<template>
  <ElCheckbox :checked="task.checked"
              @click.stop="taskStore.checkedTask(task)"></ElCheckbox>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import { taskFeatureCheckedModel } from "../../toggle-task/model";

export default defineComponent({
  name: "ToggleTask",
  props: {
task:{
  type: Object,
  default: ()=>{
    return {}
  }
}
  },
  setup() {
    const taskStore = taskFeatureCheckedModel();
    return {taskStore};
  },
});
</script>

<style lang="scss">

</style>
