<template>
  <ul style="display: flex; flex-direction: column; gap: 50px;  list-style: none; padding: 0;">
    <li v-for="task in taskList" :key="task.id">
      <TaskCard :task="task">
        <template #action><div style="display: flex; gap: 25px">
          <ToggleTask :task="task"></ToggleTask>
          <DeleteTask :id="task.id">{{ $t('message.delete') }}</DeleteTask>
        </div>
        </template>
      </TaskCard>
    </li>
  </ul>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import TaskCard from "../../../entities/tasks/ui/task-card/TaskCard.vue";
import ToggleTask from "../../../features/toggle-task/ui/ToggleTask.vue";
import DeleteTask from "../../../features/delete-task/ui/DeleteTask.vue";

export default defineComponent({
  name: "TaskList",
  components: {DeleteTask, ToggleTask, TaskCard},
  props: {
    taskList: {
      type: Array,
      default: () => {
        return []
      }
    }
  }
});
</script>

<style lang="scss">

</style>
