<template>
    <TaskCardDetails
        :task="taskStore.taskItem"
    >
      <template #actions>
        <ToggleTask :task="taskStore.taskItem"></ToggleTask>
        <VButton @click="taskDelete.deleteTask(taskStore.taskItem.id)">{{ $t('message.delete') }}</VButton>
      </template>
    </TaskCardDetails>
</template>

<script lang="ts">
import {defineComponent, onMounted} from "vue";
import {useRoute} from "vue-router";
import {taskModel, } from "../../entities/tasks/model";
import {taskFeatureDeleteModel} from "../../features/delete-task/model";
import ToggleTask from "../../features/toggle-task/ui/ToggleTask.vue";
import DeleteTask from "../../features/delete-task/ui/DeleteTask.vue";
import VButton from "../../shared/ui/buttons/VButton.vue";
import TaskCardDetails from "../../entities/tasks/ui/task-card-details/TaskCardDetails.vue";

export default defineComponent({
  name: "TaskPage",
  components: {TaskCardDetails, VButton, DeleteTask, ToggleTask},
  setup() {
    const taskStore = taskModel();
    const taskDelete = taskFeatureDeleteModel();
    const route = useRoute();
    const id = route.params.id;
    onMounted(async () => {
      await taskStore.getTaskById(+id);
    });
    return {taskStore, taskDelete};
  },
});
</script>

<style lang="scss">

</style>
