<template>
  <VButton danger @click.stop="taskStore.deleteTask(id)">
    <slot/>
  </VButton>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import VButton from "../../../shared/ui/buttons/VButton.vue";
import {taskFeatureDeleteModel} from "../model";

export default defineComponent({
  name: "DeleteTask",
  components: {VButton},

  props: {
    id: {
      type: Number,
      required: true
    },
  },
  setup() {
    const taskStore = taskFeatureDeleteModel();
    return {taskStore};
  },
});
</script>

<style lang="scss">

</style>
